doctype html
html(ng-app="app")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
		meta(name='theme-color', content='#ff8100')
		title(ng-bind='title') GoPool
		base(href='/')
		
		link(rel="icon",sizes="192x192",href="http://gpool.pr.wes-it.com:9083/square/192/isologo.png")

		link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css")

		link(rel="stylesheet", href="/node_modules/sweetalert2/dist/sweetalert2.min.css")
		link(rel="stylesheet", href="/node_modules/toastr/build/toastr.min.css")

		link(rel="stylesheet", href="/node_modules/angular/angular-csp.css")

		link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="/node_modules/material-icons/css/material-icons.min.css")

		link(rel="stylesheet", href="/node_modules/angular-loading-bar/build/loading-bar.min.css")
		link(rel="stylesheet", href="/node_modules/angular-sweetalert-2/node_modules/sweetalert2/dist/sweetalert2.min.css")
		link(rel="stylesheet", href="/node_modules/angular-toastr/dist/angular-toastr.min.css")
		link(rel="stylesheet", href="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css")

		link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")

		link(rel='stylesheet', href='/stylesheets/style.css')
	
	
	body
		div#main(ui-view="")

		script(src="/node_modules/jquery/dist/jquery.min.js")
		script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
		script(src="/node_modules/angular/angular.min.js")

		script(src="/node_modules/pickadate/lib/picker.js")
		script(src="/node_modules/pickadate/lib/picker.date.js")
		script(src="/node_modules/pickadate/lib/picker.time.js")
		script(src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js")
		script(src="/node_modules/toastr/build/toastr.min.js")

		script(src="/node_modules/@uirouter/angularjs/release/angular-ui-router.min.js")
		script(src="/node_modules/angular-animate/angular-animate.min.js")
		script(src="/node_modules/angular-cookies/angular-cookies.min.js")
		script(src="/node_modules/angular-resource/angular-resource.min.js")
		script(src="/node_modules/angular-sanitize/angular-sanitize.min.js")
		script(src="/node_modules/angular-timer/dist/assets/js/angular-timer-all.min.js")
		script(src="/node_modules/ng-file-upload/dist/ng-file-upload-all.min.js")
		script(src="/node_modules/ngmap/build/scripts/ng-map.min.js")

		script(src="/node_modules/angular-toastr/dist/angular-toastr.min.js")
		script(src="/node_modules/angular-loading-bar/build/loading-bar.min.js")
		script(src="/node_modules/angular-sweetalert-2/node_modules/sweetalert2/dist/sweetalert2.min.js")
		script(src="/node_modules/angular-sweetalert-2/dist/angular-sweetalert2.min.js")
		script(src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js")

		script(src="/javascripts/app.js")
		script(src="/javascripts/controllers.js")
		script(src="/javascripts/factories.js")
		script(src="/javascripts/services.js")
		script(src="/javascripts/directives.js")

		
