.container-fluid
	section.categories-filter.row
		.col-md-4.grey-dark.text-center
			.title
				h2.white-text(style="font-size: 46px;") 
					b.yellow-text Califica
					| cions
				br
				div
					img(ng-src="")
				br
				.text-left
					a
						h5.white-text
							i.fa.fa-chevron-right.fa-fw
							span  Calificar compradores
					a(data-toggle="modal",data-target="#AddProduct")
						h5.orange-text 
							i.fa.fa-chevron-right.fa-fw
							span  Calificar vendedores
		.col-md-8.yellow-light.text-center
			.col-md-12
				.col-md-6
					.title-list.text-left
						h3.white-text Filtros Activos
						hr.white-text
					.filter-list.text-left
						br
						br
						.items.col-md-6.orange
							span 
								| Categoria: 
							a.pull-right(href="#")
								i.fa.fa-times.white-text
				.col-md-6
					.title-filter.text-left
						h3.white-text Filtro de Resultados
						hr.white-text
					.col-md-12
						br
						br
						.form-group
							select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Filtrar por Categoría
						.form-group
							select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Filtrar por Zonas
.container
	section.pool-list
		br
		br
		.title.text-center
			.content-title
				h3.orange-text MIS CALIFICACION
			hr.border-orange
		.content.center-block.row
			.col-md-12(ng-repeat="collection in poolHighlights")
				.list-items.row
					.img.col-lg-4.col-md-4.col-sm-4.col-xs-4
						img(ng-src="{{collection.img}}")
					.body.col-lg-8.col-md-8.col-sm-8.col-xs-8
						h5 
							b.green-text
								| Alejandra Serra Ferrer - Comprador de:
							b.black
								| Lavandina Ayudin 5 litros
							b.green-text.pull-right
								| ENTREGADO
						p.text-left
							span.text-muted(style="display: block") Categoria : Alimentos
							span.text-muted(style="display: block") Cantidad demandada: 30
							span.text-muted(style="display: block") Precio Final: $12
							span.text-muted(style="display: block") Estado del pago: Pagado 
						button.btn.green.white-text.col-lg-4.col-md-4.col-sm-4.col-xs-4(type="button",style="border-radius: 0;position: absolute;bottom: 10px;right: 10px;")
							| CALIFICAR
			.col-md-12.text-center
				ul.pagination-sm(uib-pagination,total-items="100",ng-model="bigCurrentPage",max-size="10",num-pages="num",boundary-link-numbers="true",rotate="false",next-text=">",previous-text="<")