.container-fluid
	.row
		#carousel-index.carousel.slide(data-ride="carousel",carousel="",data-interval="2000")
			//- ol.carousel-indicators
			//- 	li(ng-repeat="indicators in carousel",data-target="#carousel-index",data-slide-to="{{$index}}",ng-class="{'active': $index===0}")
			.carousel-inner(role="listbox")
				.item(ng-repeat="items in carousel",ng-class="{'active': $index===0}",style="height: 680px;")
					img(ng-src="{{items.img}}",style="width: 100%;height: 100%;object-fit: cover;")
			.bar-search.container
				.title-hr.white-text
					h3.white-text Buscador rápido
					hr
				.bar.orange.row.col-md-12
					.col-md-11
						.col-md-4
							.form-group
								select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Categoría
						.col-md-4
							.form-group
								select.form-control.orange-text.input-lg
										option(ng-seleted="true",ng-disabled="true") Producto
						.col-md-4
							.form-group
								select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Zona
					.col-md-1.text-center
						button.btn(type="submit")
							i.fa.fa-search.fa-2x.white-text
.container
	br
	br
	section.categories
		.title.text-center
			.content-title
				h3.orange-text CATEGORÍAS
			hr.border-orange
		.content.center-block.row
			.col-md-3(ng-repeat="collection in categories")
				.items.text-center
					a(ui-sref="base.search")
						img.img-responsive.img-circle(ng-src="{{collection.img}}")
						h3.orange-text {{collection.name}}
	section.pool-list
		br
		br
		.title.text-center
			.content-title
				h3.orange-text POOLES DESTACADOS
			hr.border-orange
		.content.center-block.row
			.col-md-3(ng-repeat="collection in poolHighlights")
				.card-items
					.img
						img.img-responsive(ng-src="{{collection.img}}")
					ol.raiting
						li
							i.fa.fa-star.yellow-text
					.like(ng-click="like = !like",ng-class="{'active': like}")
						i.fa.fa-heart.fa-2x
					.bar-float
						.col-md-6.col-xs-6.text-left
							i.fa.fa-user.fa-2x.orange-text
						.col-md-6.col-xs-6.text-right
							.price.orange-text ${{collection.price}}*
					.body.grey
						h4.white-text {{collection.name}}
						span.white-text Categories: {{collection.categories}}
						br
						span.white-text Cantidad demandada: {{collection.stock}}
						br
						span.white-text Cierre del pool: {{collection.finish}}
					.btn-group(role="group",style="width: 100%;")
						button.btn.btn-action-orange.col-md-6.col-sm-6.col-xs-6(type="button",style="padding: 16px 12px;border-radius: 0;") OFERTAR
						button.btn.btn-action-orange.col-md-6.col-sm-6.col-xs-6(type="button",style="padding: 16px 12px;border-radius: 0;margin-left: 0;") DEMANDAR
			.col-md-12.text-center
				ul.pagination-sm(uib-pagination,total-items="100",ng-model="bigCurrentPage",max-size="10",num-pages="num",boundary-link-numbers="true",rotate="false",next-text=">",previous-text="<")
	span.orange-text * Los valores corresponden a un promedio ponderado basado en las ofertas existencias de precios 
.container-fluid
		section.actions.yellow.row
			.col-md-6.border-circle-responsive(style="padding-right: 8px;border-right-color: white;border-right-style: solid;border-right-width: 4px;")
				.sales
					.div-circle.mustard.pull-right
					.div-circle.red.pull-left(style="margin-left: 12%;")
					button.sales.pull-right.white-text(type="button") 
						| QUIERO VENDER
						i.fa.fa-chevron-left.fa-fw
			.col-md-6
				.purchase
					.div-circle.green.pull-left
					.div-circle.brown.pull-right(style="margin-right: 12%;")
					button.purchase.pull-left.white-text(type="button")
						| QUIERO COMPRAR 
						i.fa.fa-chevron-right.fa-fw
.container
	section.pool-list
		br
		br
		.title.text-center
			.content-title
				h3.orange-text POOLES ACTIVOS
			hr.border-orange
		.content.center-block.row
			.col-md-3(ng-repeat="collection in poolHighlights")
				.card-items
					.img
						img.img-responsive(ng-src="{{collection.img}}")
					//- ol.raiting
					//- 	li
					//- 		i.fa.fa-star.fa-2x.yellow-text
					.bar-float
						.col-md-6.col-xs-6.text-left
							i.fa.fa-user.fa-2x.orange-text
						.col-md-6.col-xs-6.text-right
							.price.orange-text ${{collection.price}}*
					.body.grey
						h4.white-text {{collection.name}}
						span.white-text Categories: {{collection.categories}}
						br
						span.white-text Cantidad demandada: {{collection.stock}}
						br
						span.white-text Cierre del pool: {{collection.finish}}
					.btn-group(role="group",style="width: 100%;")
						button.btn.btn-action-orange.col-md-6.col-sm-6.col-xs-6(type="button",style="padding: 16px 12px;border-radius: 0;") OFERTAR
						button.btn.btn-action-orange.col-md-6.col-sm-6.col-xs-6(type="button",style="padding: 16px 12px;border-radius: 0;margin-left: 0;") DEMANDAR
			.col-md-12.text-center
				ul.pagination-sm(uib-pagination,total-items="100",ng-model="bigCurrentPage",max-size="10",num-pages="num",boundary-link-numbers="true",rotate="false",next-text=">",previous-text="<")
	span.orange-text * Los valores corresponden a un promedio ponderado basado en las ofertas existencias de precios 
.container-fluid
		section.purchase-sales-search.row
			.col-md-4.grey-dark.text-center
				.title.col-md-7.col-md-offset-2
					h2.white-text(style="font-size: 46px;") 
						b.yellow-text Qui
						| ero
					br
					h3.white-text(style="font-size: 36px;") buscar un
					br
					h1.mustard-text(style="font-size: 48px;") POOL
				img(ng-src="")
			.col-md-8.yellow-light.text-center
				.group-btn.pull-right
					button.btn.btn-lg.white-text.l(type="button") Comprar
					button.btn.btn-lg.white-text(type="button") Vender
				.col-md-12
					form
						.col-md-12.bar.orange
							.col-md-4
								.form-group
									select.form-control.orange-text.input-lg
										option(ng-seleted="true",ng-disabled="true") Categoría
							.col-md-4
								.form-group
									select.form-control.orange-text.input-lg
											option(ng-seleted="true",ng-disabled="true") Producto
							.col-md-4
								.form-group
									select.form-control.orange-text.input-lg
										option(ng-seleted="true",ng-disabled="true") Zona
						.col-md-12.bar.orange
							.col-md-4
								.form-group
									select.form-control.orange-text.input-lg
										option(ng-seleted="true",ng-disabled="true") Delivery
							.col-md-8
								.form-group
									select.form-control.orange-text.input-lg
											option(ng-seleted="true",ng-disabled="true") Cantidad de proveedores
						.col-md-12(style="padding: 8px 0;")
							.col-md-4.text-left
								span.white-text Precio Maximo
							.col-md-8
						br
						br
						.col-md-12.text-left
							button.btn.orange.border-orange.btn-lg(type="submit") Buscar 