.container-fluid
	section.categories-filter.row
		.col-md-4.grey-dark.text-center
			.title
				h2.white-text(style="font-size: 46px;") 
					b.yellow-text Mis 
					| productos
				br
				div
					img(ng-src="")
				br
				.text-left
					a
						h5.white-text
							i.fa.fa-chevron-right.fa-fw
							span  Ver mis productos
					a(data-toggle="modal",data-target="#AddProduct")
						h5.orange-text 
							i.fa.fa-chevron-right.fa-fw
							span  Añadir un producto
		.col-md-8.yellow-light.text-center
			.col-md-12
				.col-md-6
					.title-list.text-left
						h3.white-text Filtros Activos
						hr.white-text
					.filter-list.text-left
						br
						br
						.items.col-md-6.orange
							span 
								| Categoria: 
							a.pull-right(href="#")
								i.fa.fa-times.white-text
				.col-md-6
					.title-filter.text-left
						h3.white-text Filtro de Resultados
						hr.white-text
					.col-md-12
						br
						br
						.form-group
							select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Filtrar por Categoría
						.form-group
							select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Filtrar por Zonas
.container
	section.pool-list
		br
		br
		.title.text-center
			.content-title
				h3.orange-text MIS PRODUCTOS
			hr.border-orange
		.content.center-block.row
			.col-md-3(ng-repeat="collection in poolHighlights")
				.card-items
					a(data-toggle="modal",data-target="#details")
						.img
							img.img-responsive(ng-src="{{collection.img}}")
						//- ol.raiting
						//- 	li
						//- 		i.fa.fa-star.fa-2x.yellow-text
						.bar-float
							.col-md-6.col-sm-6.col-xs-6.text-left
								i.fa.fa-user.fa-2x.orange-text
							//- .col-md-6.col-sm-6.col-xs-6.text-right
							//- 	.price.orange-text ${{collection.price}}* 
						.body.grey
							h4.white-text {{collection.name}}
							span.white-text Categories: {{collection.categories}}
							//- br
							//- span.white-text Cantidad demandada: {{collection.stock}}
							//- br
							//- span.white-text Cierre del pool: {{collection.finish}}
					//- .btn-group(role="group",style="width: 100%;")
					//- 	button.btn.btn-action-orange.col-md-6.col-sm-6.col-xs-6(type="button",style="padding: 16px 12px;border-radius: 0;",data-toggle="modal",data-target="#ConfirmDeman") OFERTAR
					//- 	button.btn.btn-action-orange.col-md-6.col-sm-6.col-xs-6(type="button",style="padding: 16px 12px;border-radius: 0;margin-left: 0;",data-toggle="modal",data-target="#ConfirmDeman") DEMANDAR
			.col-md-12.text-center
				ul.pagination-sm(uib-pagination,total-items="100",ng-model="bigCurrentPage",max-size="10",num-pages="num",boundary-link-numbers="true",rotate="false",next-text=">",previous-text="<")
	//- span.orange-text * Los valores corresponden a un promedio ponderado basado en las ofertas existencias de precios 
	section
		br
		br
		.col-md-12
			.col-md-6.col-md-offset-3
				#login.panel.white.row
					.yellow-light2.bar-back
					.header.text-center
						.title.yellow-light2.white-text SOLICITUD DEL PRODUCTO
						button.close(type="button",data-dismiss="modal",aria-label="Close",style="position: absolute;top: 38px;right: 16px;")
								span(aria-hidden="true") &times;
					.body.col-md-12
						.row
							.col-md-12.white(style="padding-top: 40px;padding-bottom: 40px;")
								.text-center.red.white-text(style="padding: 25px 10px;")
									p 
										b ¿El producto que deseas agregar no se encuentra en la lista? 
							button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="button",data-toggle="modal",data-target="#AddProduct") AGREGAR PRODUCTO
//- .container-fluid
		section.purchase-sales-search.row
			.col-md-4.grey-dark.text-center
				.title.col-md-7.col-md-offset-2
					h2.white-text(style="font-size: 46px;") 
						b.yellow-text Qui
						| ero
					br
					h3.white-text(style="font-size: 36px;") buscar un
					br
					h1.mustard-text(style="font-size: 48px;") POOL
				img(ng-src="")
			.col-md-8.yellow-light.text-center
				.group-btn.pull-right
						button.btn.btn-lg.white-text.l(type="button") Comprar
						button.btn.btn-lg.white-text(type="button") Vender
				.col-md-12
					form
						.col-md-12.bar.orange
							.col-md-4
								select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Categoría
							.col-md-4
								select.form-control.orange-text.input-lg
										option(ng-seleted="true",ng-disabled="true") Producto
							.col-md-4
								select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Zona
						.col-md-12.bar.orange
							.col-md-4
								select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Delivery
							.col-md-8
								select.form-control.orange-text.input-lg
										option(ng-seleted="true",ng-disabled="true") Cantidad de proveedores
						.col-md-12(style="padding: 8px 0;")
							.col-md-4.text-left
								span.white-text Precio Maximo
							.col-md-8
						br
						br
						.col-md-12.text-left
							button.btn.orange.border-orange.btn-lg(type="submit") Buscar 

	.modal-dialog.modal-lg.modal-custom(role="document")
		.modal-content
			.orange2.bar-back
			.circle-categories
				img(ng-src="")
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-label="Close")
					span(aria-hidden="true") &times;
				.title-header.text-center
					h4#AdheredPool.modal-title.orange2 POOL ADHERIDO
			.modal-body.row
				.img-pool
					img.img-responsive(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
				.price-pool
					h2.orange-text $20*
					span.orange-text *Precio promedio
				.col-md-12.col-sm-12.col-xs-12.grey.text-center
					h3(style="margin-bottom: 20px;") Lavandia por 5 litros
				.col-md-12.white(style="padding-top: 40px;padding-bottom: 40px;")
					.icon-title.text-center(style="margin-top: 0;")
						i.fa.fa-check-square.fa-4x.green-light-text.white
					.col-md-6.col-md-offset-3.text-center
						h5 
							b YA TE ENCUENTRAS ADHERIDO A ESTE POOL
						.text-center.green-light.white-text(style="padding: 25px 10px;")
							p 
								b RECUERDA QUE TU ORDEN ES
								br
								b UN COMPROMISO DE COMPRA  
				.col-md-12.col-sm-12.col-xs-12.yellow-light2.text-center
					h5.white-text
						b ¿DESEAS AGREGAR UNIDADES Y/O MODIFICAR TU PRECIO MAXIMO?
				.col-md-8.col-md-offset-2(style="margin-top: 20px;margin-bottom: 20px;")
					form 
						.form-group
							label.orange-text 
								| Agregar Unidades
								small (sólo puedes aumentarlas)
							input.form-control.grey-light.input-lg(type="number") 
						.form-group
							label.orange-text 
								| Modificar tu Precio máximo
								small (Indica cuál es el precio máximo que estás dispuesto a pagar)
							select.form-control.grey-light.input-lg
									option(ng-seleted="true",ng-disabled="true") $20*
			.modal-footer
				//- button.btn.btn-default(type="button",data-dismiss="modal") Close
				button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.btn-lg(type="button",data-dismiss="modal",aria-label="Close") MODIFICAR ORDEN
#AddProduct.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg(role="document")
		.modal-content.row.modal-custom-Sign
			.col-md-12
				.col-md-6.col-md-offset-3
					#login.panel.white.row
						.yellow-light2.bar-back
						.header.text-center
							.title.yellow-light2.white-text AGREGAR UN PRODUCTO
							button.close(type="button",data-dismiss="modal",aria-label="Close",style="position: absolute;top: 38px;right: 16px;")
									span(aria-hidden="true") &times;
						.body.col-md-12
							.row
								.col-md-12
									form
										.form-group
											label.orange-text 
												| Nombre del Producto
											input.form-control(type="text")
										.form-group
											label.orange-text 
												| Categoria
											input.form-control(type="text")
										.form-group
											label.orange-text 
												| Descripcion
											input.form-control(type="text")
										.form-group
											label.orange-text 
												| Palabra claves
											input.form-control(type="text")
										.form-group
											label.orange-text 
												| Zona geográfica donde se encontrará el producto  
											input.form-control(type="text")
										.form-group
											label.orange-text 
												| Precio de lista
											input.form-control(type="text")
										.text-center(ng-repeat="files in file",style="position: relative;")
											.text-center
												button.close(type="button",ng-click="removeFile($index)",style="position: absolute;top: 5px;right: 76px;",ng-if="file[$index]")
													span(aria-hidden="true") &times;
												img(ngf-src="file[$index]",ngf-resize="{width: 150, height: 150}",style="width: 150px;height: 150px;object-fit: scale-down;")
											br
											button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="file",ngf-select="addFile($index)",ng-model="file[$index]",ng-if="file[$index]==false") AGREGAR IMAGEN
										br
										br
										br
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="submit")  AGREGAR PRODUCTO
#ConfirmDeman.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg.modal-custom(role="document")
		.modal-content
			.orange2.bar-back
			.circle-categories
				img(ng-src="")
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-label="Close")
					span(aria-hidden="true") &times;
				.title-header.text-center
					h4#ConfirmDeman.modal-title.orange2 CONFIRMACIÓN SOLICITUD
			.modal-body.row
				.img-pool
					img.img-responsive(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
				.col-md-12.col-sm-12.col-xs-12.grey.text-center
					h3(style="margin-bottom: 20px;") Lavandia por 5 litros
				.col-md-12.white(style="padding-top: 40px;padding-bottom: 40px;")
					.icon-title.text-center(style="margin-top: 0;")
						i.fa.fa-check-square.fa-4x.green-light-text.white
					.col-md-6.col-md-offset-3.text-center
						h5
							b ¡FELICITACIONES!
						br
						br
						h5 
							b YA TE ENCUENTRAS ADHERIDO A ESTE POOL
						.text-center.green-light.white-text(style="padding: 25px 10px;")
							p 
								b RECUERDA QUE EL EQUIPO DE
								br
								b GOPOOL DEBE APROBAR
								br
								b ESTE PRODUCTO.
								br
								b LUEGO LO VERÁS EN TU LISTA
			.modal-footer
				//- button.btn.btn-default(type="button",data-dismiss="modal") Close
				button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.btn-lg(type="button",ng-click="flag = !flag") ACEPTAR