.nav.navbar.navbar-custom-grey.grey(style="margin-button: 0;")
	.container-fuild
		.nav-header
		.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li.text
					a(href="#")
						span.white-text
							| Sesión iniciada: 
							b AlejandraSendra 
				li
					a(ui-sref="base.favorites") 
						i.fa.fa-heart.fa-2x.orange-text
				li#notificaciones
					a.dropdown-toggle(href="#",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
						i.fa.fa-bell.fa-2x.white-text
					ul.dropdown-menu.custom-dropdown.notifications(style="overflow-y: auto; height: 340px;")
						li.dropdown-header.orange-text(style="width: 100%;")
							h5(style="margin: 5px 0;") Notificaciones
						li(style="max-height: 500px; overflow: auto; border-top: 4px solid rgb(129, 129, 129);")
							.col-md-12.col-sm-12.col-xs-12(style="padding: 0;")
								.col-md-4.col-sm-4.col-xs-4(style="height: 170px;")
									img.img-circle(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png",width="100%",height="100%",style="object-fit: scale-down;")
								.col-md-8.col-sm-8.col-xs-8(style="height: 170px;")
									h5 
										b.green-text
											| Existe una subasta que podria interesarte:
										b.black
									p.black(style="word-break: break-all;overflow: auto;text-overflow: ellipsis;height: 88px;") 
										| Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident cum, sapiente eaque dolor culpa sit ab veritatis quasi odio ipsum illum recusandae, nostrum voluptatibus. At sed harum itaque voluptatem obcaecati praesentium ut neque veritatis adipisci ducimus deserunt excepturi laborum, modi porro, quidem deleniti enim velit eius quod tenetur. Iste, fuga!
									span.pull-right
										b.black
											| hace 3 meses
										i.fa.fa-check.fa-fw.green-text
						li(style="max-height: 500px; overflow: auto; border-top: 4px solid rgb(129, 129, 129);")
							.col-md-12.col-sm-12.col-xs-12(style="padding: 0;")
								.col-md-4.col-sm-4.col-xs-4(style="height: 170px")
									img.img-circle(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png",width="100%",height="100%",style="object-fit: scale-down;")
								.col-md-8.col-sm-8.col-xs-8(style="height: 170px;")
									h5 
										b.green-text
											| Agente Comerciante:
										.black
											| Alejandra Serra Ferrer 
									p.black(style="word-break: break-all;overflow: auto;text-overflow: ellipsis;") 
										| Te ha enviado un solicitud para que seas su cliente.
									.col-lg-6.col-md-6.col-sm-6.col-xs-6
										button.btn.green.white-text(type="button",style="border-radius: 0;")
											| ACEPTAR
									.col-lg-6.col-md-6.col-sm-6.col-xs-6
										button.btn.yellow.white-text(type="button",style="border-radius: 0;")
											| IGNORAR
									span.pull-right
										b.black
											| hace 3 meses
										i.fa.fa-check.fa-fw.green-text
				li
					a(herf="#")
						i.fa.fa-envelope.fa-2x.white-text
				li
					a.dropdown-toggle(href="#",data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.fa.fa-bars.fa-2x.white-text
					ul.dropdown-menu.custom-dropdown
						li
							a.orange-text(ui-sref="base.inventory") Mi Inventario
						li
							a.orange-text(ui-sref="base.poolEnd") Mis pooles cerrados
						li
							a.orange-text(ui-sref="base.poolEnable") Mis pooles abiertos 
						li
							a.orange-text(ui-sref="base.poolAsign") Mis pooles asignados
						li
							a.orange-text.pointer(role="button",data-toggle="modal",data-target="#EditUser") Mi perfil
						li
							a.orange-text(ui-sref="base.califications") Calificaciones
						li
							a.orange-text(ui-sref="base.request") Solicitudes
						li
							a.orange-text(href="#") Cerrar sesión 								
.nav.navbar.navbar-custom.white
	.container-fluid
		.navbar-header
			a.navbar-brand(ui-sref="base.index",style="height: 75px;") 
				img(ng-src="http://gpool.pr.wes-it.com:9083/scaled/300/logo.png",style="height: 100%;",alt="Brand")
		.navbar-collapse
			button.btn.orange.navbar-btn.navbar-right.border-orange(type="button",data-toggle="modal",data-target="#SignIn",style="margin-top: 24px;") {{html.buttons.SignIn}}
			button.btn.orange.navbar-btn.navbar-right.border-orange.hidden(type="button",ui-sref="base.signIn",style="margin-top: 24px;") Salir
			form.navbar-form.navbar-right.search
				.input-group
					input.form-control(type="search",placeholder="")
					span.input-group-btn
						button.btn.orange.orange-text(type="submit") 
							i.fa.fa-search
.nav.navbar.navbar-custom.orange(style="min-height: auto;")
	.container-fluid
		#collapsed.navbar-collapse
			ul.nav.navbar-nav.text-center
					li
						a(href="#") {{html.navbar.about}}
					li
						a(href="#") {{html.navbar.termCondition}}
					li
						a(href="#") {{html.navbar.whatIsIt}}
					li
						a(href="#") {{html.navbar.whatNotIsIt}}
					li
						a(href="#") {{html.navbar.cuestionFrecuent}}
div(ui-view="")
footer.footer.navbar.text-center(style="border: none;")
	.white
		.container-fluid
			.row
				.col-md-12.subscriber
					.col-md-6
						.text-center
							h3.orange-text
								| {{html.footer.subcribe}} 
					.col-md-6
						.input-group
							input.form-control(type="text",placeholder="{{html.placeholders.email}}")
							span.input-group-btn
								button.btn.btn-default.orange.orange-text(type="button")
									i.fa.fa-chevron-right.white-text
				.col-md-12.items
					.col-md-2.hover
						img.img-responsive.img-circle(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
						.title
							h4.orange-text Comentar
					.col-md-2.hover
						img.img-responsive.img-circle(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
						.title
							h4.orange-text Comentar
					.col-md-2.hover
						img.img-responsive.img-circle(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
						.title
							h4.orange-text Comentar
					.col-md-2.hover
						img.img-responsive.img-circle(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
						.title
							h4.orange-text Comentar
					.col-md-2.hover
						img.img-responsive.img-circle(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
						.title
							h4.orange-text Comentar
					.col-md-2.hover
						img.img-responsive.img-circle(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
						.title
							h4.orange-text Comentar
	.orange
		.container-fluid
			.col-md-12
				.row
					.col-md-3
						.title.text-left
							| {{html.footer.moreAbout.title}}
							hr
						p.text-left
							| {{html.footer.moreAbout.p[0]}}
							br
							| {{html.footer.moreAbout.p[1]}} 
							br
							| {{html.footer.moreAbout.p[2]}}
							br
							| {{html.footer.moreAbout.p[3]}}  
					.col-md-3
						.title.text-left
							| Categorias 
							hr
						p.text-left 
							| Lavandina 5 litros 
							br
							| Bolsa de cemento 10 kg
							br
							| Resmas de papel A4
							br
							| Azucar 1 kg 
							br
							| Café de filtro 1 kg
					.col-md-3
						.title.text-left
							| {{html.footer.supportHelp.title}}
							hr
						p.text-left 
							| {{html.footer.supportHelp.p[0]}}
							br
							| {{html.footer.supportHelp.p[1]}}
							br
							| {{html.footer.supportHelp.p[2]}}
							br
							| {{html.footer.supportHelp.p[3]}}
							br
							| {{html.footer.supportHelp.p[4]}}
					br.hidden-md.hidden-lg
					br.hidden-md.hidden-lg
					br.hidden-md.hidden-lg
					.col-md-3
						#login.panel.white.row
							.header.red
								.title {{html.footer.boxLogin.title}}
							.body.col-md-12
								.row
									.col-md-12
										form
											.form-group
												input.form-control(type="email",placeholder="{{html.placeholders.email}}")
											.form-group
												input.form-control(type="password",placeholder="{{html.placeholders.password}}")
											button.btn.red.col-md-8.col-md-offset-2(type="submit") {{html.footer.boxLogin.buttonTitle}}
									.col-md-6
										.checkbox.text-muted(style="font-size: 12px;")
											label
												input(type="checkbox") 
												| {{html.footer.boxLogin.checkRemember}}
									.col-md-6(style="padding-top: 10px;font-size: 12px;")
										a.text-muted(href="#") {{html.footer.boxLogin.checkForgotPass}}
	.grey
		.container-fluid
			.col-md-12
				p
					| Copyright &copy; 2017 GoPool S.A.S.

#SignIn.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg(role="document")
		.modal-content.row.modal-custom-Sign
			.col-md-12
				.col-md-6.col-md-offset-3
					#login.panel.white.row
						.yellow-light2.bar-back
						.header.text-center
							.title.yellow-light2.white-text BIENVENIDO A GOPOOL
							button.close(type="button",data-dismiss="modal",aria-label="Close",style="position: absolute;top: 38px;right: 16px;")
									span(aria-hidden="true") &times;
						.body.col-md-12
							.row
								.col-md-12
									form
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-user
											input.form-control(type="email",placeholder="Nombre de Usuario")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-lock
											input.form-control(type="password",placeholder="Contraseña")
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="submit") INICIAR SESIÓN
										.col-md-6.col-lg-6.form-group
											.checkbox.text-muted(style="font-size: 12px;")
												label
													input(type="checkbox") 
													| Recordarme
										.col-md-6.col-lg-6.form-group(style="padding-top: 10px;font-size: 12px;")
											a.text-muted(href="#") Olvidaste tu contraseña?
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="button",ng-click="ToggleSign(true)") REGISTRARME
										br
										br
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.checkbox.text-muted(style="font-size: 12px;")
												label.orange-text
													input(type="checkbox") 
													| Quiero registrarme para ofrecer servicio de delivery
			.col-md-6.facebook.facebook-bar-circle
				a.white-text(href="#")
					.circle.facebook
						i.fa.fa-facebook.fa-2x
					span Iniciar sesión con Facebook
			.col-md-6.google.google-bar-circle
				a.white-text(href="#")
					.circle.google
						i.fa.fa-google.fa-2x
					span Iniciar sesión con Google
#SignUp.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg(role="document")
		.modal-content.row.modal-custom-Sign
			.col-md-12
				.col-md-6.col-md-offset-3
					#login.panel.white.row
						.yellow-light2.bar-back
						.header.text-center
							.title.yellow-light2.white-text BIENVENIDO A GOPOOL
							button.close(type="button",data-dismiss="modal",aria-label="Close",style="position: absolute;top: 38px;right: 16px;")
									span(aria-hidden="true") &times;
						.body.col-md-12
							.row
								.col-md-12
									form
										button#Photo.hidden(type="file",ngf-select,ng-model="photo")
										.img-profile.text-center.pointer
											div.addFile.pointer(ng-if="!photo",ng-click="uploadPhoto(true)")
												i.fa.fa-user-circle-o.orange-text
											div.removeFile.pointer(ng-if="photo",ng-click="uploadPhoto()")
												img.img-circle(ngf-src="photo",ngf-resize="{width: 112, height: 112}",ngf-no-object-url="true")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-user-circle
											input.form-control(type="email",placeholder="Nombre de Usuario")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-lock
											input.form-control(type="password",placeholder="Contraseña")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-lock
											input.form-control(type="password",placeholder="Repetir Contraseña")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-user
											input.form-control(type="text",placeholder="Nombre")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-home
											input.form-control(type="text",placeholder="Domicilio")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-id-card
											input.form-control(type="text",placeholder="DNI")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-phone-square
											input.form-control(type="tel",placeholder="Teléfono")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-envelope
											input.form-control(type="email",placeholder="Correo Electronico")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Nombre de la Empresa")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="CUIT de la Empresa")
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.header-title.text-center
												h5.yellow-light2-text DATOS DEL VEHICULO
												hr.yellow-light2.border
										button#File.hidden(type="file",ngf-select,ng-model="file")
										.img-profile.text-center.pointer
											div.addFile.pointer(ng-if="!file",ng-click="uploadFile(true)")
												i.fa.fa-car.orange-text(style="line-height: 1.1;font-size: 8em;")
											div.removeFile.pointer(ng-if="file",ng-click="uploadFile()")
												img.img-circle(ngf-src="file",ngf-resize="{width: 112, height: 112}",ngf-no-object-url="true")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Tipo de vehiculo (auto, moto, camioneta, etc)")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Horarios disponible")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Dias disponibles")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Tarifa")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="email",placeholder="Correo Electronico")
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="submit")  REGISTRARME
										br
										br
										br
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="submit",ng-click="ToggleSign()") CANCELAR
										br
										br
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.checkbox.text-muted(style="font-size: 12px;")
												label.orange-text
													input(type="checkbox") 
													| Quiero registrarme para ofrecer servicio de delivery
#User.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg(role="document")
		.modal-content.row.modal-custom-Sign
			.col-md-12
				.col-md-6.col-md-offset-3
					#login.panel.white.row
						.yellow-light2.bar-back
						.header.text-center
							.title.yellow-light2.white-text BIENVENIDO A GOPOOL
							button.close(type="button",data-dismiss="modal",aria-label="Close",style="position: absolute;top: 38px;right: 16px;")
									span(aria-hidden="true") &times;
						.body.col-md-12
							.row
								.col-md-12
									form
										button#Photo.hidden(type="file",ngf-select,ng-model="photo")
										.img-profile.text-center.pointer
											div.addFile.pointer(ng-if="!photo",ng-click="uploadPhoto(true)")
												i.fa.fa-user-circle-o.orange-text
											div.removeFile.pointer(ng-if="photo",ng-click="uploadPhoto()")
												img.img-circle(ngf-src="photo",ngf-resize="{width: 112, height: 112}",ngf-no-object-url="true")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-user-circle
											input.form-control(type="email",placeholder="Nombre de Usuario")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-lock
											input.form-control(type="password",placeholder="Contraseña")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-lock
											input.form-control(type="password",placeholder="Repetir Contraseña")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-user
											input.form-control(type="text",placeholder="Nombre")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-home
											input.form-control(type="text",placeholder="Domicilio")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-id-card
											input.form-control(type="text",placeholder="DNI")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-phone-square
											input.form-control(type="tel",placeholder="Teléfono")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-envelope
											input.form-control(type="email",placeholder="Correo Electronico")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Nombre de la Empresa")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="CUIT de la Empresa")
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="submit")  REGISTRARME
										br
										br
										br
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="submit",data-dismiss="modal",aria-label="Close") CANCELAR
#Delivery.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg(role="document")
		.modal-content.row.modal-custom-Sign
			.col-md-12
				.col-md-6.col-md-offset-3
					#login.panel.white.row
						.yellow-light2.bar-back
						.header.text-center
							.title.yellow-light2.white-text DATOS DEL VEHICULO
							button.close(type="button",data-dismiss="modal",aria-label="Close",style="position: absolute;top: 38px;right: 16px;")
									span(aria-hidden="true") &times;
						.body.col-md-12
							.row
								.col-md-12
									form
										button#File.hidden(type="file",ngf-select,ng-model="file")
										.img-profile.text-center.pointer
											div.addFile.pointer(ng-if="!file",ng-click="uploadFile(true)")
												i.fa.fa-car.orange-text(style="line-height: 1.1;font-size: 8em;")
											div.removeFile.pointer(ng-if="file",ng-click="uploadFile()")
												img.img-circle(ngf-src="file",ngf-resize="{width: 112, height: 112}",ngf-no-object-url="true")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Tipo de vehiculo (auto, moto, camioneta, etc)")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Horarios disponible")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Dias disponibles")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Tarifa")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="email",placeholder="Correo Electronico")
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="submit")  REGISTRARME
										br
										br
										br
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="submit",data-dismiss="modal",aria-label="Close") CANCELAR
#ValidEmail.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg(role="document")
		.modal-content.row.modal-custom-Sign
			.col-md-12
				.col-md-6.col-md-offset-3
					#login.panel.white.row
						.yellow-light2.bar-back
						.header.text-center
							.title.yellow-light2.white-text BIENVENIDO A GOPOOL
							button.close(type="button",data-dismiss="modal",aria-label="Close",style="position: absolute;top: 38px;right: 16px;")
									span(aria-hidden="true") &times;
						.body.col-md-12.text-center
							.row
								.col-md-12
									i.fa.fa-check-square.fa-4x.orange-text
									br
									br
									br
									div TU CORREO ELECTRÓNICO HA SIDO VALIDADO
									br
									br
									br
									button.btn.yellow-light2.col-md-8.col-md-offset-2(type="button",data-dismiss="modal",aria-label="Close") CONTINUAR
#EditUser.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg(role="document")
		.modal-content.row.modal-custom-Sign
			.col-md-12
				.col-md-6.col-md-offset-3
					#login.panel.white.row
						.yellow-light2.bar-back
						.header.text-center
							.title.yellow-light2.white-text BIENVENIDO A GOPOOL
							button.close(type="button",data-dismiss="modal",aria-label="Close",style="position: absolute;top: 38px;right: 16px;")
									span(aria-hidden="true") &times;
						.body.col-md-12
							.row
								.col-md-12
									form
										button#Photo.hidden(type="file",ngf-select,ng-model="photo")
										.img-profile.text-center.pointer
											div.addFile.pointer(ng-if="!photo",ng-click="uploadPhoto(true)")
												i.fa.fa-user-circle-o.orange-text
											div.removeFile.pointer(ng-if="photo",ng-click="uploadPhoto()")
												img.img-circle(ngf-src="photo",ngf-resize="{width: 112, height: 112}",ngf-no-object-url="true")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-user-circle
											input.form-control(type="email",placeholder="Nombre de Usuario")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-lock
											input.form-control(type="password",placeholder="Contraseña")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-lock
											input.form-control(type="password",placeholder="Repetir Contraseña")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-user
											input.form-control(type="text",placeholder="Nombre")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-home
											input.form-control(type="text",placeholder="Domicilio")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-id-card
											input.form-control(type="text",placeholder="DNI")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-phone-square
											input.form-control(type="tel",placeholder="Teléfono")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-envelope
											input.form-control(type="email",placeholder="Correo Electronico")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="Nombre de la Empresa")
										.form-group.input-group
											span.input-group-addon
												i.fa.fa-building
											input.form-control(type="text",placeholder="CUIT de la Empresa")
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="submit")  GUARDAR
										br
										br
										br
										button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2(type="buttton",data-dismiss="modal",aria-label="Close") CANCELAR
#details.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg.modal-custom.row(role="document")
		.modal-content
			.orange2.bar-back
			.circle-categories.left
				img(ng-src="")
			.circle-categories.right
				img(ng-src="")
			.circle-categories.right(style="margin-top: 150px;")
				img(ng-src="")
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-label="Close")
					span(aria-hidden="true") &times;
				.title-header.text-center
					h4#details.modal-title.orange2 DETALLES DEL PRODUCTO
			.modal-body.row
				.img-pool
					img.img-responsive(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
				.price-pool
					h2.orange-text $20*
					span.orange-text *Precio promedio
				.col-md-12.col-sm-12.col-xs-12.grey.text-center
					h3(style="margin-bottom: 20px;") Lavandia por 5 litros
				.col-md-12.grey-dark(style="padding-left: 6%;padding-right: 6%;")
					.title.row
						.col-md-3
							h2.white-text
								b.orange-text Det
								| alle
						.col-md-9(style="margin-top: 30px;")
							hr(style="border-color: #ffb22a;")
					.body
						ul.nav.navbar
							li(style="padding-bottom: 5px;")
								i.fa.fa-check-square.fa-fw.yellow-text.fa-2x 
								span.yellow-text 
									b CATEGORÍA:
								span.white-text Construcción
							li(style="padding-bottom: 5px;")
								i.fa.fa-check-square.fa-fw.yellow-text.fa-2x 
								span.yellow-text 
									b CANTIDAD DEMANDADA:
								span.white-text 1000 unidades
							li(style="padding-bottom: 5px;")
								i.fa.fa-check-square.fa-fw.yellow-text.fa-2x 
								span.yellow-text 
									b CIERRE DEL POOL:
								span.white-text 3 dias
							li(style="padding-bottom: 5px;")
								i.fa.fa-check-square.fa-fw.yellow-text.fa-2x 
								span.yellow-text 
									b PRECIO PROMEDIO OFERTADO:
								span.white-text $8
							li(style="padding-bottom: 5px;")
								i.fa.fa-check-square.fa-fw.yellow-text.fa-2x 
								span.yellow-text 
									b PRECIO PROMEDIO DEMANDADO:
								span.white-text $6,50
				.col-md-12.white
					.icon-title.text-center
						i.fa.fa-check-square.fa-4x.green-light-text.white
					.col-md-6.col-md-offset-3
						.text-center.green-light.white-text(style="padding: 25px 10px;")
							p 
								| Ya participas en esta subasta.
								br
								| Puedes cambiar tus condiciones en 
								br
								| todo momento, siempre y cuando
								br
								| mejores la oferta para tu contraparte 
			.modal-footer
				//- button.btn.btn-default(type="button",data-dismiss="modal") Close
				button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.btn-lg(type="button") MODIFICAR MI CONTRAPARTE
		br
		br
		br
		.col-md-12.grey.text-center
				.col-md-6
					h3(style="margin-bottom: 20px;") Historia de precios
				.col-md-6
					h3(style="margin-bottom: 20px;") Ubicacion
		.col-md-12
			.col-md-6(style="padding-right: 0;")
			.col-md-6(style="padding-left: 0;")
#ConfirmDeman.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg.modal-custom(role="document")
		.modal-content
			.orange2.bar-back
			.circle-categories
				img(ng-src="")
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-label="Close")
					span(aria-hidden="true") &times;
				.title-header.text-center
					h4#ConfirmDeman.modal-title.orange2 CONFIRMACIÓN DE DEMANDA
			.modal-body.row
				.img-pool
					img.img-responsive(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
				.price-pool
					h2.orange-text $20*
					span.orange-text *Precio promedio
				.col-md-12.col-sm-12.col-xs-12.grey.text-center
					h3(style="margin-bottom: 20px;") Lavandia por 5 litros
				.col-md-8.col-md-offset-2(ng-show="!flag",style="margin-top: 20px;margin-bottom: 20px;")
					form 
						.form-group
							label.orange-text Unidades
							input.form-control.grey-light.input-lg(type="number")
						.form-group
							label.orange-text Zona donde deseas que se encuentre tu proveedor 
							select.form-control.grey-light.input-lg
									option(ng-seleted="true",ng-disabled="true") 
						.form-group
							label.orange-text 
								| Precio máximo
								small (Indica cuál es el precio máximo que estás dispuesto a pagar)
							select.form-control.grey-light.input-lg
									option(ng-seleted="true",ng-disabled="true") $20*
				.col-md-12.white(ng-show="flag",style="padding-top: 40px;padding-bottom: 40px;")
					.icon-title.text-center(style="margin-top: 0;")
						i.fa.fa-check-square.fa-4x.green-light-text.white
					.col-md-6.col-md-offset-3.text-center
						h5
							b ¡FELICITACIONES!
						br
						br
						h5 
							b YA TE ENCUENTRAS ADHERIDO A ESTE POOL
						.text-center.green-light.white-text(style="padding: 25px 10px;")
							p 
								b RECUERDA QUE TU ORDEN ES
								br
								b UN COMPROMISO DE COMPRA  
				.col-md-12.col-sm-12.col-xs-12.yellow-light2.text-center(ng-show="!flag")
					h5 
						b ¿DESEAS AGREGAR UNIDADES Y/O MODIFICAR TU PRECIO MAXIMO?
				.col-md-8.col-md-offset-2(ng-show="!flag",style="margin-top: 20px;margin-bottom: 20px;")
					form 
						.form-group
							label.orange-text 
								| Agregar Unidades
								small (sólo puedes aumentarlas)
							input.form-control.grey-light.input-lg(type="number") 
						.form-group
							label.orange-text 
								| Modificar tu Precio máximo
								small (Indica cuál es el precio máximo que estás dispuesto a pagar)
							select.form-control.grey-light.input-lg
									option(ng-seleted="true",ng-disabled="true") $20*
			.modal-footer
				//- button.btn.btn-default(type="button",data-dismiss="modal") Close
				button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.btn-lg(type="button",ng-click="flag = !flag") CONFIRMAR
#AdheredPool.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg.modal-custom(role="document")
		.modal-content
			.orange2.bar-back
			.circle-categories
				img(ng-src="")
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-label="Close")
					span(aria-hidden="true") &times;
				.title-header.text-center
					h4#AdheredPool.modal-title.orange2 POOL ADHERIDO
			.modal-body.row
				.img-pool
					img.img-responsive(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
				.price-pool
					h2.orange-text $20*
					span.orange-text *Precio promedio
				.col-md-12.col-sm-12.col-xs-12.grey.text-center
					h3(style="margin-bottom: 20px;") Lavandia por 5 litros
				.col-md-12.white(style="padding-top: 40px;padding-bottom: 40px;")
					.col-md-6.col-md-offset-3.text-center
						h5 
							b YA TE ENCUENTRAS ADHERIDO A ESTE POOL
						.text-center.green-light.white-text(style="padding: 25px 10px;")
							p 
								b RECUERDA QUE TU ORDEN ES
								br
								b UN COMPROMISO DE COMPRA  
				.col-md-12.col-sm-12.col-xs-12.yellow-light2.text-center
					h5.white-text
						b ¿DESEAS AGREGAR UNIDADES Y/O MODIFICAR TU PRECIO MAXIMO?
				.col-md-8.col-md-offset-2(style="margin-top: 20px;margin-bottom: 20px;")
					form 
						.form-group
							label.orange-text 
								| Agregar Unidades
								small (sólo puedes aumentarlas)
							input.form-control.grey-light.input-lg(type="number") 
						.form-group
							label.orange-text 
								| Modificar tu Precio máximo
								small (Indica cuál es el precio máximo que estás dispuesto a pagar)
							select.form-control.grey-light.input-lg
									option(ng-seleted="true",ng-disabled="true") $20*
			.modal-footer
				//- button.btn.btn-default(type="button",data-dismiss="modal") Close
				button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.btn-lg(type="button",data-dismiss="modal",aria-label="Close") MODIFICAR ORDEN
#DetallOperation.modal.fade(tabindex="-1",role="dialog")
	.modal-dialog.modal-lg.modal-custom.row(role="document")
		.modal-content
			.orange2.bar-back
			.circle-categories.left
				img(ng-src="")
			.circle-categories.right
				img(ng-src="")
			.circle-categories.right(style="margin-top: 150px;")
				img(ng-src="")
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-label="Close")
					span(aria-hidden="true") &times;
				.title-header.text-center
					h4#details.modal-title.orange2 DETALLE DE LA OPERACIÓN
			.modal-body.row
				.img-pool
					img.img-responsive(ng-src="http://gpool.pr.wes-it.com:9083/square/700/1505933101442_0_libreria.png")
				.price-pool
					h2.orange-text $20*
					span.orange-text *Precio promedio
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.grey.text-center
					h3(style="margin-bottom: 20px;") Lavandia por 5 litros
				.col-lg-12.col-md-12.grey-dark(style="padding-left: 6%;padding-right: 6%;")
					.title.row
						.col-md-8.col-md-offset-2.text-center
							h3.white-text(style="margin-top: 0;")
								span.orange-text Detalle 
								| de 
								span.orange-text los 
								| compradores
						.col-md-12
							hr(style="border-color: #ffb22a;margin-bottom: 0;")
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
					h4.green-text 
						b Total de compradores: 7 de 10
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.col-lg-12.col-md-12.col-sm-12.col-xs-12.border-yellow(style="border-top-width: 1px;")
							.col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
								h4.yellow-light2-text
									b COMPRADOR
							.col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
								h4.yellow-light2-text
									b CANTIDAD
							.col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
								h4.yellow-light2-text
									b DETALLE
						br
						br
						br
						.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12.border-yellow
									.col-lg-4.col-md-4.col-sm-4.col-xs-4(style="padding: 0;min-height: 45px;padding-top: 4px;")
										i.fa.fa-check-square.fa-fw.fa-2x.yellow-light2-text
										b Juan Marcos Tripolone
									.col-lg-4.col-md-4.col-sm-4.col-xs-4(style="padding: 0;min-height: 45px;padding-top: 12px;")
										b 2 Unidades 	
									.col-lg-4.col-md-4.col-sm-4.col-xs-4(style="padding: 0;min-height: 45px;")
										button.btn.green.white-text(type="button") VER DATOS
							.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
								ul.pagination-sm(uib-pagination,total-items="100",ng-model="bigCurrentPage",max-size="10",num-pages="num",boundary-link-numbers="true",rotate="false",next-text=">",previous-text="<")
			.modal-footer
				//- button.btn.btn-default(type="button",data-dismiss="modal") Close
				button.btn.yellow-light2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.btn-lg(type="button") ACEPTAR