* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {}
html,body {}
body {}
a,a:hover { 
  cursor: pointer;
  text-decoration: none;
}
::-webkit-input-placeholder {
  color: white;
}
.pointer {
  cursor: pointer;
}
/* Netword Social */
  .facebook {
    background: #1a4980;
    color: white;
  }
  .google {
    background: #fe4131;
    color: white;
  }
  .facebook-bar-circle,
  .google-bar-circle {
    padding: 0 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 32px;
  }
  .facebook-bar-circle .circle,
  .google-bar-circle .circle {
    display: inline-block;
    margin: auto 20px;
    width: 50px;
    height: 50px;
    padding: 10px 14px;
    border-radius: 100%;
    margin-top: -10px;
  }
  .facebook-bar-circle .circle {
    padding: 10px 16px;
  }

:root .border-yellow {
  border-color: #ffa600;
  border-bottom-width: 1px;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}
/* Color Orange */
  :root .orange {
    background: #ff8100;
    color: white;
  }
  :root .orange2 {
    background: #ff9400;
    color: white;
  }
  :root .orange-text {
    color: #ff8100;
  } 
  :root .border-orange {
    border-color: #ff8100;
  }
  /* Button orange */
    :root .btn.orange {
      border-color: transparent;
    }
    :root .btn.orange:hover {
      background: #d76e03;
    }
    :root .btn.orange i,
    :root .btn.orange span {
      color: white;
    }
  /* Buttom with border orange */
    :root .btn.border-orange {
      background: white !important;
      color: #d76e03 !important;
    }
    :root .btn.border-orange:hover {
      border-color: #d76e03 !important;
    }
    :root .btn.btn-action-orange {
      background: white;
      color: #d76e03;
      transition: all 0.5s linear;
      outline: none;
    } 
    :root .btn.btn-action-orange:hover {
      background: #d76e03;
      color: white;
    }
  :root input.form-control:focus {
    outline-color: #ff8100;
    border-color: #ff8100;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233,118,1,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233,118,1,.6);
  }
/* Color White */
  :root .white {
    background: #FFFFFF;
  }
  :root .white-text {
    color : #FFFFFF;
  }
/* Color yellow */
  :root .yellow {
    background: #ffb22a;
  }
  :root .yellow-text {
    color: #ffb22a;
  }
  :root .yellow-text2 {
    color: #ffb02b;
  }
/* Color yellow-light */
  :root .yellow-light {
    background: #f7b500;
  }
  :root .yellow-light2 {
    background: #ffa600;
  }
  :root .yellow-light2-text {
    color: #ffa600;
  }
  :root .yellow-light2.border {
    border-top: 1px solid #ffa600;
  }
  :root .btn.yellow-light2 {
    border-color: transparent;
    color: white;
  }
  :root .btn.yellow-light2:hover {
    background: #e99904;
  }
  :root .btn.yellow-light2 i,
  :root .btn.yellow-light2 span {
    color: white;
  }
.nav.navbar.navbar-custom.orange {
  margin-bottom: 0;
}
.nav.navbar.navbar-custom-grey {
  margin-bottom: 0;
}
.nav.navbar.navbar-custom-grey .nav.navbar-nav.navbar-right li a {
  padding-bottom: 11px;
  padding-top: 12px;
}
.nav.navbar.navbar-custom-grey .nav.navbar-nav.navbar-right li a:hover,
.nav.navbar.navbar-custom-grey .nav.navbar-nav.navbar-right li a:focus,
.nav.navbar.navbar-custom-grey .nav.navbar-nav.navbar-right li a:active {
  background: #737272;
  color: white;
}
.nav.navbar.navbar-custom-grey .nav.navbar-nav.navbar-right li.text a {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* .dropdown-menu.custom-dropdown {
  padding: 0;
  margin: 0;
  border: #afadad;
  border-width: 5px;
  border-style: solid;
} */
/* Color Grey */
  :root .grey {
    background: #818181;
    color: white;
  }
  :root .grey.border {
    border-top-color: #818181;
  }
  :root .grey-text {
    color: #818181;
  }
  :root .grey-light {
    background: #b4bbc1;
    color: white;
  }
  :root .grey-dark {
    background: #4c4c4c;
    color: white;
  }
/* Color Black */
  :root .black {
    color: black;
  }
/* Color Red */
  :root .red {
    background: #ff591b;
    color: white;
  }
  :root .red-text {
    color: #ff591b;
  }
  /* Button red */
    :root .btn.red {
      border-color: transparent;
    }
    :root .btn.red:hover {
      background: #ff4d0a;
    }
    :root .btn.red i,
    :root .btn.red span {
      color: white;
    }
  /* Bottom with border red */
    :root .btn.border-red {
      background: white !important;
      color: #ff591b !important;
    }
    :root .btn.border-red:hover {
      border-color: #ff4d0a !important;
    }
/* Color Mustard */
  :root .mustard {
    background: #ff8100;
  }
  :root .mustard-text {
    color: #ff8100;
  }
/* Color Green */
  :root .green {
    background: #00943d;
  }
  :root .green-text {
    color: #00943d;
  }
  :root .green-light {
    background: #00b63f;
  }
  :root .green-light-text {
    color: #00b63f;
  }
/* Color Brown */
  :root .brown {
    background: #6b3508;
  }
/* Color Green Dark */
  :root .grey-dark {
    background: #4c4c4c;
  }
/* Style raiting */
  :root .raiting {
    position: absolute;
    top: 12px;
    left: 12px;
    list-style: none;
  }
  :root .raiting li i {
    font-size: 1.2em;
  }
/* Style Like  */
  :root .like {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #818181;
  }
  :root .like.active {
      color: #ff591b !important;
  }
/* Style Card items */
    :root .card-items {
      position: relative;
      height: 100%;
      margin-bottom: 20px; 
    }
    :root .card-items .img {
      height: 255px;
      border: 1px solid #cecdcd;
      text-align: center;
    }
    :root .card-items .img img {
      object-fit: scale-down;
      display: inline-block;
      height: 100%;
    }
    :root .card-items .bar-float {
      position: absolute;
      width: 100%;
      top: 210px;
    }
    :root .card-items .body {
      height: auto;
      padding: 15px 15px;
    }
    :root .card-items .price {
      font-weight: 900;
      font-size: x-large;
    }
/* Style List Item */
    :root .list-items {
      position: relative;
      height: 100%;
      margin-bottom: 20px;
    }
    :root .list-items .img {
      height: 320px;
      border: 1px solid #cecdcd;
      text-align: center;
      margin-right: 15px;
      margin-left: 15px;
      padding: 0;
    }
    :root .list-items .img img {
      object-fit: scale-down;
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    :root .list-items .body {
      border: 1px solid #cecdcd;
      height: 320px;
      width: 71%;
      width: 62.99%;
    }
/* Style Search and navbar */
  form.navbar-form.search {
    margin-top: 24px;
    max-width: 200px;
  }
  form.navbar-form.search input.form-control {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-radius: 12px;
  }
  form.navbar-form.search button.btn {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-radius: 12px;
  }
  #collapsed .nav.navbar-nav {
    float: none;
  } 
  #collapsed .nav.navbar-nav li {
    float: none;
    display: inline-block;
  }
  #collapsed .nav.navbar-nav li a {
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0 solid #fec891;
    border-right-width: 2px;
    color: #fff0e0;
    transition: 0.5s ease-in-out;
  }
  #collapsed .nav.navbar-nav li:last-child a,
  #collapsed .nav.navbar-nav li:last-child a:hover {
    border-color: transparent;
  }
  #collapsed .nav.navbar-nav li a:hover {
    background: transparent;
    color: white;
    border-color: white;
}

/* Login Style */
  #login {
    margin-top: 30%;
    margin-bottom: 75px;
    border: 1px solid rgba(14, 14, 14, 0.1803921568627451);
    box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.45);
  }  
  #login .header {
    position: relative;
    padding: 0 90px;
    margin-bottom: 20px;
    margin-top: -26px;
    z-index: 2;
  }
  #login .header .title {
    padding: 16px 20px;
  }
  #login .body {
    padding: 20px 80px;
    padding-bottom: 30px;
    z-index: 1;
  }
  #login .body .form-group .form-control {
    border-radius: 0;
    background: #b5bdc3;
    color: white;
  }
  #login .body .form-group.input-group .form-control {
    border-left-color: transparent;
  }
  #login .body .form-group.input-group .input-group-addon {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #b5bdc3;
    color: #ff681f;
    border-radius: 0;
    border-right-color: transparent;
  }

  .body .form-group input.form-control::-webkit-input-placeholder,
  .body .form-group input.form-control::-moz-placeholder,
  .body .form-group input.form-control:-ms-input-placeholder,  
  .body .form-group input.form-control:-moz-placeholder {
    background: #dfdfdf;
    color: #dfdfdf;
  }
  #login .bar-back {
    height: 12px;
    margin-right: 15px;
    margin-left: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -12px;
    z-index: 1;
  }
  .img-profile {
    padding-bottom: 20px;
  }
  .img-profile img {
    border: 4px solid #ffa600;
    width: 140px;
    height: 140px;
    object-fit: scale-down;
  }
  .img-profile i {
    font-size: 10em;
  } 
  .img-profile:hover .addFile:after,
  .img-profile:hover .removeFile:after {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 50%;
    width: 140px;
    height: 140px;
    background: rgba(0, 0, 0, .6);
    transform: translateX(-50%);
    border-radius: 50%;
    font-size: 5em;
    color: white;
  }
  .img-profile:hover .addFile:after {
    content: "\f067";
    line-height: 2.05;
  }
  .img-profile:hover .removeFile:after {
    content: "\f00d";
    line-height: 1.85;
  }


  footer #login {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  footer #login .header {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -20px;
    margin-bottom: 15px;
    padding: 8px 0;
  }
  footer #login .header .title {
    padding: 0;
  }
  footer #login .body {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
  }
/* Carousel Index */
  #carousel-index .bar-search.container {
    position: absolute;
    bottom: -20px;
    z-index: 15;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: transparent;
  }
  #carousel-index .bar-search.container .title-hr h3 {
    display: inline-block;
    width: 21%;
    margin-top: 0;
    font-weight: bolder;
    padding-right: 1%;
  }
  #carousel-index .bar-search.container .title-hr hr {
    display: inline-block;
    width: 79%;
    margin-top: 0;
    margin-bottom: 8px;
  }
  #carousel-index .bar-search.container .bar {
    padding: 15px 0;
    padding-bottom: 0;
    border-radius: 15px;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,.3);
  }
  #carousel-index .bar-search.container .bar select.form-control {
    border-radius: 10px;
  }
  #carousel-index .bar-search.container .bar button.btn {
    background: transparent;
  }
  #carousel-index .bar-search.container .bar button.btn:focus {
    outline: none;
    border: none;
  }
/* Section Categoires and Pool Highlights Index */
  section.categories, section.pool-list {position: relative;}
  section.categories .title, section.pool-list .title {position: relative;padding: 30px 0;}
  section.categories .title .content-title, 
  section.pool-list .title .content-title {
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px;
  }
  section.categories .title .content-title h3,
  section.pool-list .title .content-title h3{
    display: inline-block;
    margin: 8px 0;
  }
/* Section Actions Index */
  section.actions {
    padding: 20px;
    margin-bottom: 20px;
  }
  section.actions .purchase,
  section.actions .sales {
    padding: 50px;
  }
  section.actions button.sales,
  section.actions button.purchase {
    background: transparent;
    border-color: transparent;
    padding: 20px 25px;
    font-size: 25px;
    font-weight: bolder;
  }
  section.actions .div-circle {
    margin-bottom: 26px;
    margin-top: -22%;
    padding: 24% 24%;
    border-radius: 100%;
    box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, .6);
  }
  section.actions .div-circle.pull-right.mustard,
  section.actions .div-circle.pull-left.green {
    padding: 28% 28%;
    margin-top: 0px;
    margin-bottom: 0;
  }
/* Style Purchese-Sales-Search */
  section.purchase-sales-search {
    margin-top: 40px;
    margin-bottom: 5px;
  }
  section.purchase-sales-search .grey-dark,
  section.purchase-sales-search .yellow-light {
    height: 400px;
  }
  section.purchase-sales-search .yellow-light {
    padding: 76px 46px;
  }
  section .yellow-light .group-btn {
    margin-top: -112px;
  }
  section .group-btn button {
    padding: 26px 46px;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 26px;
    background: #f7b500;
  }

  section .yellow-light .group-btn button.l {
    margin-right: 40px;
  }
  section.purchase-sales-search .yellow-light .bar {
    padding: 15px 0;
    margin-bottom: 16px;
    border-radius: 15px;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,.3)
  }
  section.purchase-sales-search .yellow-light .bar select {
    border-radius: 10px;
  }
  section.purchase-sales-search .grey-dark .title {
    padding: 36% 0%;
  }
  section.purchase-sales-search .grey-dark .title h1,
  section.purchase-sales-search .grey-dark .title h2,
  section.purchase-sales-search .grey-dark .title h3 {
    margin: 0;
    display: inline-block;
    text-shadow: -4px 5px 2px rgba(0,0,0,.5);
    font-weight: bolder;
  }
  section.categories-filter {}
  section.categories-filter .grey-dark,
  section.categories-filter .yellow-light {
    height: 376px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  section.categories-filter .yellow-light select.form-control {
    border-radius: 10px;
  }
  section.categories-filter .yellow-light .filter-list .items {
    padding: 10px 20px;
    border-radius: 15px;
    font-size: larger;
  }
  .dropdown-menu.custom-dropdown.notifications {
    min-width: 460px;
    box-shadow: inset 0 -2px 7px 3px #00014;
    border: 4px solid #818181!important;
    padding: 0;
  }


footer.footer.navbar {
  margin-bottom:  0;
}
footer.footer.navbar > .orange {
  padding: 30px 30px;
}
footer.footer.navbar > .grey p {
  margin: 0;
}
footer.footer.navbar .grey {
  padding-top: 15px;
  padding-bottom: 15px;
}
footer.footer.navbar .title {
  font-weight: 600;
  font-size: larger;
}
footer.footer.navbar .title hr {
  margin-top: 6px;
  margin-bottom: 6px;
}
footer.footer.navbar #login {
  margin-top: 15px;
}
footer.footer.navbar .subscriber {
  padding: 80px 30px;
}
footer.footer.navbar .subscriber .input-group {
  margin-top: 30px;
  margin-bottom: 10px;
}
footer.footer.navbar .items {
  padding-top: 0;
  padding-bottom: 30px;
  padding-right: 60px;
  padding-left: 60px;
}
footer.footer.navbar .items .hover {
  border-radius: 100%;
  background: white;
  padding: 12px 32px;
  transition: all .2s linear;
}
footer.footer.navbar .items .hover:hover {
  background: orange;
}
footer.footer.navbar .items .hover:hover h4 {
  color: white;
}
/* Style Pagination */
  .pagination>li>a, .pagination>li>span {
    color: #ff8100;
    font-size: 20px;
    font-weight: bolder;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
  }
  .pagination>li>a:focus, 
  .pagination>li>a:hover, 
  .pagination>li>span:focus, 
  .pagination>li>span:hover {
    color: #ff8100;
    background-color: white;
    border-color: #ff8100;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
  }
  .pagination>.disabled>a, 
  .pagination>.disabled>a:focus, 
  .pagination>.disabled>a:hover, 
  .pagination>.disabled>span, 
  .pagination>.disabled>span:focus, 
  .pagination>.disabled>span:hover {
    color: white;
    border-color: transparent;
  }
  .pagination>.active>a, 
  .pagination>.active>a:focus, 
  .pagination>.active>a:hover, 
  .pagination>.active>span, 
  .pagination>.active>span:focus, 
  .pagination>.active>span:hover {
    background-color: #ff8100;
    border-color: #ff8100;
    border-width: 1px;
    border-style: solid;
    color: white;
    border-radius: 8px;
  }

  .modal-custom {
    padding: 60px 100px;
    background: rgba(250, 250, 250, 0.75);
  }
  .modal-custom-Sign {
    background: rgba(250, 250, 250, 0.75);
    padding-bottom: 50px;
  }
  .modal-custom .modal-content {
    border-radius: 0;
  }
  .modal-custom .modal-content .modal-header .title-header {
    padding: 0 120px;
    margin-bottom: 20px;
    margin-top: -50px;
    z-index: 2;
  }
  .modal-custom .modal-content .modal-header .title-header h4 {
    padding: 16px 20px;
  }
  .modal-custom .modal-content .bar-back {
    height: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -12px;
    margin-left: 30px;
    margin-right: 30px;
    z-index: -1;
  }
  .modal-custom .modal-content .modal-header,
  .modal-custom .modal-content .modal-footer {
    border-color: transparent;
  }
  .modal-custom .modal-content .circle-categories {
    position: absolute;
    border-radius: 100%;
    padding: 30px 40px;
    margin-top: 50px;
    background: white;
  }
  .circle-categories.left {
    left: -40px;
  }
  .circle-categories.right {
    right: -40px;
  }
  .modal-custom .modal-content .modal-body .img-pool {
    padding: 0 32%;
  }
  .modal-custom .modal-content .modal-body .price-pool {
    display: block;
    float: right;
    margin-top: -90px;
    padding: 0 18%;
    z-index: 2;
  }
  .modal-custom .modal-content .modal-body .col-md-12.grey-dark {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .modal-custom .modal-content .modal-body .icon-title {
    margin-top: -28px;
  }
  .modal-custom .modal-content .modal-body .body-pool-success {
    padding: 10% 20%;
  }
  .modal-custom .modal-content .modal-body .body-pool-success .text-center {
    padding: 25px 10px;
  }
  .modal-custom .modal-content .modal-footer {
    margin-bottom: -34px;
  }

@media screen and (max-width: 992px) and (min-width: 767px) {
  .modal-custom .modal-content .modal-header .title-header {
    padding: 0 10%;
  }
}
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: block;
    float: inherit;
    text-align: center;
  }
  .navbar-brand img {
    display: inline;
  }
  .navbar-collapse .btn.orange.navbar-btn.navbar-right.border-orange {
    float: right;
    margin-top: 8px !important;
  }
  .navbar-collapse .navbar-form.navbar-right.search {
    display: inline-block;
    margin-top: 0;
    float: left;  
    width: 80%;
    max-width: inherit;
  }
  .border-circle-responsive {
    border-color: transparent;
  }
  section.purchase-sales-search .yellow-light {
    height: auto;
  }
  section.purchase-sales-search .yellow-light .bar {
    padding-bottom: 15px;
  }
  #login .bar-back {
    margin-left: 3%;
    margin-right: 3%;
  }
  #login .header {
    padding: 0 10%;
  }
  #login .body {
    padding: 0 10%;
    padding-bottom: 25px;
  }
  .facebook-bar-circle, .google-bar-circle {
    margin-bottom: 25px;
  }
  section.categories-filter .grey-dark, section.categories-filter .yellow-light {
    height: auto;
  }
  .modal-custom .modal-content .bar-back {
    margin-left: 4%;
    margin-right: 4%;
  }
  .modal-custom .modal-content .modal-header .title-header {
    padding: 0 10%;
  }
  .nav.navbar.navbar-custom-grey .nav.navbar-nav.navbar-right li {
    display: inline-block;
  }
  .nav.navbar.navbar-custom-grey .nav.navbar-nav.navbar-right li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
} 
@media screen and (max-width: 767px) and (min-width: 504px) {
  .nav.navbar.navbar-custom-grey .nav.navbar-nav.navbar-right {
    float: right;
    margin: 0;
  }
}
@media screen and (max-width: 504px) {
  .nav.navbar.navbar-custom-grey .nav.navbar-nav.navbar-right {
    text-align: center;
    margin: 0;
  }
  .nav.navbar.navbar-custom-grey .nav.navbar-nav.navbar-right li.text {
    display: block;
  }
}
